<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src='main.js'></script>
</head>

<body>
	<div class="container">

		<div class="container-fluid bg-dark text-light p-5">
			<h1>Novo Pedido </h1>
		</div>


        <form action="/pedido/novo" method="POST">
            <div>
                <label for="nomeProduto">Produto</label>
                <input name="nomeProduto" placeholder="Digite o nome do produto" />
                <small>Informe o nome do produto</small>

            </div>

            <div>
                <label for="urlProduto">URL Produto</label>
                <input name="urlProduto" placeholder="Url do produto" />
                <small>Procure o produto em um site o cole a URL da página aqui</small>

            </div>


            <div>
                <label for="urlImagem">Imagem</label>
                <input name="urlImagem" placeholder="Url da Imagem" />
                <small></small>

            </div>
            
             <div>
                <label for="descricao">Descrição</label>
                <textarea name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador" ></textarea>

            </div>

            <button type="submit">Cadastrar</button>
            
           

        </form>

    </div>

    </body>
    </html>